@import "tailwindcss";

:root {
  --header-title: #1f2937;
  --main-color: #57869f;
  --sub1-color: #a0cccd;
  --sub2-color: #b2c5c5;
  --background-color: #f8f8f8;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 430px;
  --text-header: 22px;

  --text-header--font-weight: 700;

  --text-title: 18px;
  --text-title--font-weight: 700;
  --text-subtitle: 16px;
  --text-body: 14px;
  --text-tooltip: 12px;
}

@theme static {
  --color-headercolor: var(--header-title);
  --color-titlecolor: var(--header-title);
  --color-main: var(--main-color);
  --color-sub1: var(--sub1-color);
  --color-sub2: var(--sub2-color);
  --color-background: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  height: 80px;
  background: rgba(217, 217, 217, 1);
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.slick-dots li {
  width: 4px !important;
  height: 4px !important;
}

.slick-dots li div {
  background-color: #e5e7eb; /* gray-300 */
}

.slick-dots li.slick-active div {
  background-color: #000; /* black */
}

[type="radio"],
span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: 1.5px solid #49454f;
  border-radius: 1.5;
  width: 12px;
  height: 12px;
  margin: 11px;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  background-color: #49454f;
}

/* [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}
